.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: #fff;
}

.input-field-label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.input-field input,
.input-field textarea,
.input-field select {
  width: 99%;
  padding: 0.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #fff;
  box-sizing: border-box;
  background-color: #000;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.input-field input:focus,
.input-field textarea:focus,
.input-field select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 0.125rem rgba(38, 143, 255, 0.2);
}

.input-field textarea {
  resize: vertical;
}

.input-field select {
  background-color: #fff;
  color: #333;
  cursor: pointer;

  max-height: 5rem;
  overflow-y: auto;
}

.input-field input::placeholder,
.input-field textarea::placeholder {
  color: #aaa;
}

.input-field input[readonly],
.input-field textarea[readonly],
.input-field select[disabled] {
  background-color: #f8f9fa;
  color: #333;
  cursor: not-allowed;
}

.input-field input:required:invalid,
.input-field textarea:required:invalid,
.input-field select:required:invalid {
  border-color: #dc3545;
}

input:required:valid {
  /* border-color: green; */
}

.input-field select option {
  padding: 0.5rem;
}

.input-info {
  font-size: 0.875rem;
  color: #666;
  margin-top: 0.25rem;
}
