.view-toggle {
  display: flex;
  gap: 0.5rem;
  background-color: #666;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.view-toggle button {
  all: unset;
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.15rem;
  border-radius: 0.25rem;
  /* background-color: #ccc; */
  transition: all 0.2s linear;
}

.view-toggle button.active {
  background-color: #fff;
  font-weight: bold;
}
