.input-with-button {
  display: flex;
  align-items: center;
  width: 99%;
  background-color: #000;
}

.input-with-button .input-field {
  margin: 0;
  width: 100%;
}

.input-with-button input:focus,
.input-with-button input {
  border: none;
  outline: none;
  box-shadow: none;
}

.input-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.625rem;
  box-sizing: none;
  border-radius: 0.625rem;
}

.input-button:hover {
  box-shadow: none;
  scale: 1.1;
  transition: scale 0.2s ease-in;
}

.input-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
